<!DOCTYPE html>
<html  ng-app="app">
<head>
  <title>CarFocus</title>
  <%= yield :login_style %>
  <%= yield :user_style %>
  <%= yield :user_settings %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
